* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav barre */
nav {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.805);
  padding-top: 15px;
  /* #31859C */
}

.navUl {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLi {
  margin-left: 25px;
}
.lien {
  color: #fcc900;
  text-decoration: none;
}

.lien:hover {
  color: #e7fc00;
  text-decoration: none;
}

/* content Main index */

.contour {
  background-image: url(../asset/img3_2.jpg);
  height: 215px;
  background-size: cover;
  /* background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  box-shadow: 0 100px black;
}
.phrase {
  color: white;
  text-align: center;
}

.moi {
  color: #fcc900;
}
.cc {
  text-align: center;
}

.titre {
  padding-top: 50px;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
}

.cc {
  background-color: rgba(255, 255, 255, 0.7);
 
}

.containGrid1 {
  min-height: 425px;
  background-color: rgb(254, 254, 254);
  display: grid;
  grid-template-columns:
    minmax(6rem, 1fr)
    [start]
    repeat(8, minmax(min-content, 14rem))
    [end]
    minmax(6rem, 1fr);
}

.nom {
  text-align: center;
  margin-top: 10px;
}

/* #8bcbdb #d6edf4*/

.containGrid2 {
  grid-column: start / end;
  margin: 3rem 0 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.marge {
  margin-top: -4rem;
}

.containGrid3 {
  display: grid;
  justify-content: center;
}
.carre {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  filter: brightness(80%);
  transition: filter 0.3s linear;
}
.cart1 {
  background-image: url(../asset/portfolio.jpg);
}
.cart2 {
  background-image: url(../asset/veille.png);
}
.cart3 {
  background-image: url(../asset/cv2.jpg);
}
.carre:hover {
  height: 205px;
  width: 205px;
  filter: brightness(100%);
}

/* Footer */

.containFooter {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.805);
  color: #fcc900;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
/* Portfolio & veilles technologiques */

.containPort {
  min-height: 645px;
}

img {
  max-width: 600px;
}
.image {
  margin-top: 100px;
  height: 375px;
  width: 425px;
  border: 1px solid black;
}

.travail {
  filter: brightness(80%);
}

.travail:hover {
  filter: brightness(110%);
}

h1 {
  text-align: center;
}

a {
  color: black;
}
.centre {
  grid-column: start / end;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.git:hover {
  color: #c19a00;
}
ul {
  list-style: inside;
}
.vanta {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.titreVeille {
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .image {
    width: 350px;
    height: 300px;
    margin-left: 0px;
  }
  .large {
    width: 350px;
  }
  .cc {
    font-size: 1em;
  }
  .bounding {
    font-size: 1.2em;
  }
  .cc {
    background-color: rgba(255, 255, 255, 0.8);
   
  }

  .containGrid1 {
    grid-template-columns:
      minmax(0rem, 1fr)
      [start]
      repeat(6, minmax(min-content, 14rem))
      [end]
      minmax(0rem, 1fr);
  }
  .centre {
    font-size: 1.5em;
  }

  .containGrid1 {
    margin: 0rem 0 0rem -1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}

@media (max-width: 420px) {
  .box {
    background-color: rgba(0, 0, 0, 0.805);
    position: relative;
  }
  .cont-lignes {
    width: 42px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 92%;
    transform: translate(-50%, -50%);
  }

  .lignes {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background-color: #fcc900;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  .lignes:nth-child(1) {
    top: 0px;
  }
  .lignes:nth-child(2) {
    top: 18px;
  }
  .lignes:nth-child(3) {
    top: 36px;
  }
  .btn1.active .lignes:nth-child(1) {
    top: 18px;
    transform: rotate(135deg);
  }

  .btn1.active .lignes:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
  }
  .btn1.active .lignes:nth-child(3) {
    top: 18px;
    transform: rotate(-135deg);
  }

  nav.active {
    height: 130px;
  }

  .smallScreen {
    display: none;
  }
  .navUl {
    display: block;
    text-align: center;
  }
}

@media (max-width: 380px) {
  .image {
    width: 330px;
  }
  .large {
    width: 330px;
  }

}
